In [150]:
import pandas as pd

In [151]:
#Ingesting two data sets on top Spotify songs of different years, then concatenating them

top2017 = pd.read_csv("Resources/top2017/top2017.csv", encoding="latin1")
top2018 = pd.read_csv("Resources/top2018/top2018.csv", encoding="latin1")

spotify_df = pd.concat([top2017, top2018])
spotify_df.head()

,id,name,artists,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_ms,time_signature
0,7qiZfU4dY1lWllzX7mPBI,Shape of You,Ed Sheeran,0.825,0.652,1.0,-3.183,0.0,0.0802,0.5810,0.000000,0.0931,0.931,95.977,233713.0,4.0
1,5CtI0qwDJkDQGwXD1H1cL,Despacito - Remix,Luis Fonsi,0.694,0.815,2.0,-4.328,1.0,0.1200,0.2290,0.000000,0.0924,0.813,88.931,228827.0,4.0
2,4aWmUDTfIPGksMNLV2rQP,Despacito (Featuring Daddy Yankee),Luis Fonsi,0.660,0.786,2.0,-4.757,1.0,0.1700,0.2090,0.000000,0.1120,0.846,177.833,228200.0,4.0
3,6RUKPb4LETWmmr3iAEQkt,Something Just Like This,The Chainsmokers,0.617,0.635,11.0,-6.769,0.0,0.0317,0.0498,0.000014,0.1640,0.446,103.019,247160.0,4.0
4,3DXncPQOG4VBw3QHh3S81,I'm the One,DJ Khaled,0.609,0.668,7.0,-4.284,1.0,0.0367,0.0552,0.000000,0.1670,0.811,80.924,288600.0,4.0

In [152]:
#Getting rid of the extra columns, as we only want to see how the songs did on the Billboard Top 100

spotify_df = spotify_df[['name', 'artists', 'duration_ms']]
spotify_df = spotify_df.rename(columns = {"name":"title", "artists":"artist"})
spotify_df.head()

                                title            artist  duration_ms
0                        Shape of You        Ed Sheeran     233713.0
1                   Despacito - Remix        Luis Fonsi     228827.0
2  Despacito (Featuring Daddy Yankee)        Luis Fonsi     228200.0
3            Something Just Like This  The Chainsmokers     247160.0
4                         I'm the One         DJ Khaled     288600.0

In [153]:
billboard_df = pd.read_csv("Resources/billboard_2000_2018_spotify_lyrics.csv", encoding="latin1")

In [154]:
billboard_df.columns

Index(['date', 'year', 'title', 'simple_title', 'artist', 'main_artist',
       'peak_pos', 'last_pos', 'weeks', 'rank', 'change', 'spotify_link',
       'spotify_id', 'video_link', 'genre', 'broad_genre', 'analysis_url',
       'energy', 'liveness', 'tempo', 'speechiness', 'acousticness',
       'instrumentalness', 'time_signature', 'danceability', 'key',
       'duration_ms', 'loudness', 'valence', 'mode', 'lyrics'],
      dtype='object')

In [155]:
#Doing the same for the Billboard dataset

billboard_df = billboard_df[["date", "title", "artist", "peak_pos", "last_pos", "weeks", "rank", "change", "duration_ms"]]
billboard_df.head()

,date,title,artist,peak_pos,last_pos,weeks,rank,change,duration_ms
0,6/21/18,4th Dimension,Kanye West and Kid Cudi,42,0,1,42,New,unknown
1,6/21/18,All Girls Are The Same,Juice WRLD,41,49,5,41,8,165820
2,6/21/18,All Mine,Kanye West,11,11,2,31,-20,145507
3,6/21/18,Alone,Halsey Featuring Big Sean & Stefflon Don,70,73,9,74,-1,unknown
4,6/21/18,Babe,Sugarland Featuring Taylor Swift,72,0,2,95,Re-Entry,unknown

In [156]:
#Getting rid of all the songs from before 2017

billboard_df.loc[billboard_df['date'] == "12/31/16"]

,date,title,artist,peak_pos,last_pos,weeks,rank,change,duration_ms
1043,12/31/16,Come And See Me,partynextdoor,55,56,24,63,-7,235477
1044,12/31/16,Setting The World On Fire,kenny chesney,29,87,20,91,-4,220267
1045,12/31/16,Die For You,the weeknd,43,71,3,93,-22,260253
1046,12/31/16,False Prophets,j. cole,54,93,2,54,39,237427
1047,12/31/16,Deja Vu,post malone,75,0,2,77,Re-Entry,235427
1048,12/31/16,4 Your Eyez Only,j. cole,29,0,1,29,New,530253
1049,12/31/16,She's Mine Pt. 2,j. cole,34,0,1,34,New,278920
1050,12/31/16,Everybody Dies,j. cole,57,0,1,57,New,161827
1051,12/31/16,Darlin' Don't Go,sundance head,67,0,1,67,New,263013
1052,12/31/16,At Last,sundance head,89,0,1,89,New,207853

In [157]:
bb_df = billboard_df.iloc[0:1043]

In [158]:
bb_df.tail()

,date,title,artist,peak_pos,last_pos,weeks,rank,change,duration_ms
1038,1/7/17,She's Mine Pt.1,j. cole,22,22,2,89,-67,209080
1039,1/7/17,Ville Mentality,j. cole,24,24,2,90,-66,194347
1040,1/7/17,For Whom The Bell Tolls,j. cole,23,23,2,93,-70,127880
1041,1/7/17,Foldin Clothes,j. cole,30,30,2,98,-68,316920
1042,1/7/17,Feliz Navidad,jose feliciano,44,0,1,44,New,182067

In [159]:
#Creating a function that lets us search the "title" and "artist" columns to examine their formatting
#As the Spotify dataset put features in the title column, while the Billboard dataset put them in the artists column,
#we made a way to easily find formatting differences between the datasets

def find(string, df, col):
    find_list = []
    for i in range(len(df)):
        if string.lower() in str(df[col].iloc[i]).lower():
            find_list.append(i)
    for i in find_list:
        print(df[col].iloc[i], i)

In [160]:
find("feat", spotify_df, "title")

Despacito (Featuring Daddy Yankee) 2
Swalla (feat. Nicki Minaj & Ty Dolla $ign) 16
Rockabye (feat. Sean Paul & Anne-Marie) 18
Symphony (feat. Zara Larsson) 29
2U (feat. Justin Bieber) 39
iSpy (feat. Lil Yachty) 45
Bad and Boujee (feat. Lil Uzi Vert) 48
No Promises (feat. Demi Lovato) 64
Don't Wanna Know (feat. Kendrick Lamar) 65
Cold (feat. Future) 74
Glorious (feat. Skylar Grey) 79
Otra Vez (feat. J Balvin) 84
Cold Water (feat. Justin Bieber & MÃ) 87
rockstar (feat. 21 Savage) 102
Psycho (feat. Ty Dolla $ign) 103
Girls Like You (feat. Cardi B) 113
Look Alive (feat. Drake) 119
These Days (feat. Jess Glynne, Macklemore & Dan Caplen) 120
Meant to Be (feat. Florida Georgia Line) 127
Taste (feat. Offset) 130
Solo (feat. Demi Lovato) 131
River (feat. Ed Sheeran) 140
Finesse (Remix) [feat. Cardi B] 146
Freaky Friday (feat. Chris Brown) 153
FEFE (feat. Nicki Minaj & Murda Beatz) 155
Body (feat. brando) 157
Fuck Love (feat. Trippie Redd) 162
D?jala que vuelva (feat. Manuel Turizo) 166
1, 2, 3 (feat. Jason Derulo & De La Ghetto) 177
Coraz?n (feat. Nego do Borel) 185
I Miss You (feat. Julia Michaels) 196

In [161]:
find("feat", bb_df, "artist")

Halsey Featuring Big Sean & Stefflon Don 3
Sugarland Featuring Taylor Swift 4
Post Malone Featuring Nicki Minaj 6
YG Featuring 2 Chainz, Big Sean & Nicki Minaj 10
El Chombo Featuring Cutty Ranks 15
Charlie Puth Featuring Kehlani 17
Cardi B Featuring Migos 18
Lil Dicky Featuring Chris Brown 26
Kanye West Featuring PARTYNEXTDOOR 30
Maroon 5 Featuring Cardi B 31
Camila Cabello Featuring Young Thug 33
Lil Skies Featuring Yung Pinch 35
Lil Baby Featuring Gunna & Lil Uzi Vert 46
BlocBoy JB Featuring Drake 47
Reik Featuring Ozuna & Wisin 52
A$AP Rocky Featuring Skepta 67
Post Malone Featuring Ty Dolla $ign 69
Nicki Minaj Featuring Lil Wayne 71
Post Malone Featuring 21 Savage 72
Jhene Aiko Featuring Swae Lee Or Rae Sremmurd 74
Chris Lane Featuring Tori Kelly 79
Tyga Featuring Offset 80
6ix9ine Featuring DJ SPINKING 81
Morgan Wallen Featuring Florida Georgia Line 86
Migos Featuring Drake 89
Diplo, French Montana & Lil Pump Featuring Zhavia Ward 90
Kanye West Featuring PARTYNEXTDOOR 93
Gorillaz Featuring George Benson 102
Rich The Kid Featuring Kendrick Lamar 106
Playboi Carti Featuring Lil Uzi Vert 110
Travis Scott Featuring Lil Uzi Vert & Kanye West 111
A$AP Rocky Featuring Moby 112
Jennifer Lopez Featuring DJ Khaled & Cardi B 114
Post Malone Featuring Swae Lee 124
Pusha T Featuring Kanye West 126
Shawn Mendes Featuring Khalid 127
NAV Featuring Travis Scott 129
Bhad Bhabie Featuring Lil Yachty 133
Lil Skies Featuring Landon Cube 139
Post Malone Featuring G-Eazy & YG 146
Justin Timberlake Featuring Chris Stapleton 147
Cardi B Featuring 21 Savage 153
Cardi B Featuring SZA 157
Cardi B Featuring Kehlani 166
Kanye West Featuring T.I. 168
Cardi B Featuring Chance The Rapper 169
J. Cole Featuring kiLL edward 173
J. Cole Featuring kiLL edward 177
Young Thug Featuring Nicki Minaj 184
Daniel Caesar Featuring Kali Uchis 191
Swae Lee Featuring Slim Jxmmi 193
MAX Featuring gnash 198
DJ Khaled Featuring JAY Z, Future & B 203
2 Chainz Featuring YG & Offset 209
The Weeknd Featuring Gesaffelstein 215
The Weeknd Featuring Gesaffelstein 216
Lil Yachty Featuring NBA YoungBoy 219
Lil Skies Featuring Landon Cube 221
Trippie Redd Featuring Travis Scott 230
Kendrick Lamar Featuring Zacari 233
G-Eazy Featuring A$AP Rocky & Cardi B 236
Famous Dex Featuring A$AP Rocky 237
XXXTENTACION Featuring Joey Bada$$ 246
Miguel Featuring Travis Scott 248
Lil Yachty Featuring Trippie Redd 250
Lil Yachty Featuring Ugly God 251
Logic Featuring Wiz Khalifa 254
A$AP Ferg Featuring Nicki Minaj 257
Eminem Featuring Ed Sheeran 258
Logic Featuring Young Sinatra 260
Logic Featuring Big Sean 261
Macklemore Featuring Kesha 265
Carrie Underwood Featuring Ludacris 269
Kodak Black Featuring Lil Wayne 272
Becky G Featuring Bad Bunny 275
Migos Featuring Post Malone 276
6ix9ine Featuring Tory Lanez & Young Thug 278
Taylor Swift Featuring Ed Sheeran & Future 284
Gucci Mane Featuring Migos 288
Hailee Steinfeld & Alesso Featuring Florida Georgia Line & Watt 290
Logic Featuring Alessia Cara & Khalid 294
Kodak Black Featuring XXXTENTACION 299
Migos Featuring 21 Savage 301
Sofi Tukker Featuring NERVO, The Knocks & Alisa Ueno 310
Migos Featuring Gucci Mane 311
BTS Featuring Desiigner 315
Lil Uzi Vert Featuring Nicki Minaj 318
Migos Featuring Travis Scott, Ty Dolla $ign & Big Sean 319
J Balvin & Willy William Featuring Beyonce 325
Chris Brown Featuring Yo Gotti, A Boogie Wit da Hoodie & Kodak Black 329
French Montana Featuring Swae Lee 331
Maroon 5 Featuring SZA 332
Enrique Iglesias Featuring Bad Bunny 334
Marshmello Featuring Khalid 337
Luis Fonsi & Daddy Yankee Featuring Justin Bieber 339
Clean Bandit Featuring Julia Michaels 342
Zayn Featuring Sia 346
XXXTENTACION Featuring Trippie Redd 347
NAV Featuring Lil Uzi Vert 350
Huncho Jack Featuring Offset 355
Huncho Jack Featuring Takeoff 356
Eminem Featuring Beyonce 366

In [162]:
find("-", bb_df, "title")

Chun-Li 13
1-800-273-8255 294
1-800-273-8255 368
1-800-273-8255 494
T-Shirt 776
Self-Made 810

In [163]:
#Although we decided against merging using the artist names, this is the code we used to clean up the artist columns
#in the datasets to make them consistent with each other

bb_df['artist'] = bb_df['artist'].str.upper()
bb_df['artist'] = bb_df['artist'].str.split("FEAT").str[0]
bb_df['artist'] = bb_df['artist'].str.split(" AND").str[0]

bb_df.head()

C:\Users\kevin\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\kevin\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\Users\kevin\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,date,title,artist,peak_pos,last_pos,weeks,rank,change,duration_ms
0,6/21/18,4th Dimension,KANYE WEST,42,0,1,42,New,unknown
1,6/21/18,All Girls Are The Same,JUICE WRLD,41,49,5,41,8,165820
2,6/21/18,All Mine,KANYE WEST,11,11,2,31,-20,145507
3,6/21/18,Alone,HALSEY,70,73,9,74,-1,unknown
4,6/21/18,Babe,SUGARLAND,72,0,2,95,Re-Entry,unknown

In [164]:
spotify_df['artist'] = spotify_df['artist'].str.upper()
spotify_df['artist'] = spotify_df['artist'].str.split("FEAT").str[0]
spotify_df['artist'] = spotify_df['artist'].str.split(" AND").str[0]

In [165]:
spotify_df.head()

                                title            artist  duration_ms
0                        Shape of You        ED SHEERAN     233713.0
1                   Despacito - Remix        LUIS FONSI     228827.0
2  Despacito (Featuring Daddy Yankee)        LUIS FONSI     228200.0
3            Something Just Like This  THE CHAINSMOKERS     247160.0
4                         I'm the One         DJ KHALED     288600.0

In [166]:
#Here, we are doing the same with song titles, as they were one of the columns we merged on
#We made the same formatting changes to the two datasets, to make them as consistent with each other as possible

bb_df['title'] = bb_df['title'].str.upper()
spotify_df['title'] = spotify_df['title'].str.upper()

C:\Users\kevin\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [167]:
spotify_df['title'] = spotify_df['title'].str.split(" - ").str[0]
spotify_df['title'] = spotify_df['title'].str.split("(").str[0]
bb_df['title'] = bb_df['title'].str.split("(").str[0]

C:\Users\kevin\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [168]:
#We used this code to get rid of stray spaces left at then end of song titles after the previous code

for i in range(len(spotify_df)):
    if spotify_df['title'].iloc[i][-1] == " ":
        spotify_df['title'].iloc[i] = spotify_df['title'].iloc[i][:-1]

C:\Users\kevin\Anaconda3\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [169]:
for i in range(len(bb_df)):
    if bb_df['title'].iloc[i][-1] == " ":
        bb_df['title'].iloc[i] = bb_df['title'].iloc[i][:-1]

C:\Users\kevin\Anaconda3\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
C:\Users\kevin\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [170]:
#Now we made the duration columns consistent with each other. The Billboard dataset contained strings, "unknown",
#where it was missing the data for duration. We converted these to None's to drop them, as there was no reliable way to merge them

bb_df['duration_ms'] = bb_df['duration_ms'].replace(to_replace = {"unknown":None})
bb_df = bb_df.dropna(axis=0, subset = ['duration_ms'])

C:\Users\kevin\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [171]:
#We converted the duration columns to integers, to make sure were the same datatype

import numpy as np
spotify_df['duration_ms'] = spotify_df['duration_ms'].astype(np.int64)

In [172]:
bb_df['duration_ms'] = bb_df['duration_ms'].astype(np.int64)

In [173]:
#We merged the rows using title and duration

merged_df = spotify_df.merge(bb_df, how="outer", on=["title", "duration_ms"])
merged_df.head()

,title,artist_x,duration_ms,date,artist_y,peak_pos,last_pos,weeks,rank,change
0,SHAPE OF YOU,ED SHEERAN,233713,3/3/18,ED SHEERAN,1.0,24.0,59.0,24.0,0
1,SHAPE OF YOU,ED SHEERAN,233713,12/31/17,ED SHEERAN,1.0,24.0,51.0,19.0,5
2,SHAPE OF YOU,ED SHEERAN,233713,12/21/17,ED SHEERAN,1.0,26.0,48.0,25.0,1
3,SHAPE OF YOU,ED SHEERAN,233713,3/3/18,ED SHEERAN,1.0,24.0,59.0,24.0,0
4,SHAPE OF YOU,ED SHEERAN,233713,12/31/17,ED SHEERAN,1.0,24.0,51.0,19.0,5

In [174]:
#Then we dropped any rows that didn't have information from the Spotify dataset,
#as these were songs that weren't among the top Spotify songs

merged_df = merged_df.dropna(axis=0, subset=['artist_x'])

In [175]:
merged_df.count()

title          255
artist_x       255
duration_ms    255
date           170
artist_y       170
peak_pos       170
last_pos       170
weeks          170
rank           170
change         170
dtype: int64

In [176]:
#Loading all the data to our SQL Database

import pymysql
from sqlalchemy import create_engine
pymysql.install_as_MySQLdb()
from config import username, password

In [177]:
connectstring = f"{username}:{password}@127.0.0.1/music_db"
engine = create_engine(f'mysql+mysqldb://{username}:{password}@127.0.0.1/music_db?charset=latin1')

In [187]:
merged_df.to_sql(name="top_songs", con=engine, if_exists="append",index=True)